
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if title %}    
        <title>{{ title }}</title>
    {% else %}
        <title>Flask application with bulma css</title>
    {% endif %}

    {% if description %}    
        <meta name="description" content="{{ description }}">
    {% else %}
        <meta name="description" content="Open-Source starter coded in Flask and Bulma CSS">
    {% endif %}

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />

    <!-- Bulma CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">


